/* postList.module.css */

/* Styles pour la liste des posts */
.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.postItem {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postItem img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.postItem h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.postItem p {
  font-size: 1rem;
  color: #333;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* Style des boutons Modifier et Supprimer */
.actions button {
  padding: 10px 20px; /* Ajuster la taille pour correspondre au bouton Supprimer */
  font-size: 10px; /* Taille de police ajustée */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style du bouton Modifier */
.editButton {
  background-color: #3498db; /* Bleu pour Modifier */
  color: white;
}

.editButton:hover {
  background-color: #2980b9;
}
/* postList.module.css */

/* Ajout du style pour l'affichage du nom de l'auteur */
.author {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
  font-style: italic;
}
